<!DOCTYPE html>

<!--Created by Aravind on 23 Oct 2017--Xcellarator Drive> -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--jQUERY should always come first before Bootstrap-->
<base target="_blank">
<script th:src="@{/portal/js/jquery-3.2.1.js}"></script>
<link rel="icon" th:href="@{/portal/images/dp.png}">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>XX制药有限责任公司</title>

<!----------------BOOTSTRAP----------------------->

<link rel="stylesheet" th:href="@{/portal/css/bootstrap.min.css}">
<!----------------GOOGLE FONTS----------------------->
<link th:href="@{https://fonts.googleapis.com/css?family=Spectral}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/portal/css/styles.css}">
<link rel="stylesheet" th:href="@{/portal/css/animate.min.css}">
</head>

<body>
    <nav class="navbar navbar-fixed-top menu">
        <div class="container">
            <ul class="ul" align="center">
                <li><a href="javascript:void(0);" onclick="javascript:window.location.href='/portal';" class="hyperlink">官网首页</a>
                    <li><a href="javascript:void(0);" onclick="javascript:window.location.href='/about';" class="hyperlink">企业简介</a></li>
                    <li><a href="javascript:void(0);" onclick="javascript:window.location.href='/product';" class="hyperlink">企业产品</a></li>
                <li><a href="javascript:void(0);" onclick="javascript:window.location.href='/';" class="hyperlink">官方商城</a></li>
                    <li><a href="javascript:void(0);" onclick="javascript:window.location.href='/contact';" class="hyperlink">联系我们</a></li>
            </ul>
            <a onclick="javascript:window.location.href='/login';">
            <button id="login_btn" type="reset" class="btn">登录</button>
            </a>
        </div>
    </nav>

    <div ng-app="" class="container-fluid ENTIRE_PAGE">
        <div class="row">
            <div class="jumbotron col-md-12 col-sm-6 col-xs-6">

                <div class="container jumbo_text section">
                    <div class="animated fadeInDown">
                        <span id="my_name">XX制药责任有限公司</span>
                    </div>
                    <br><br><br>
                    <span id="my_subtitle">> </span><br><br>

                </div>
            </div>
        </div>

    </div>

    <script th:src="@{/portal/js/angular.min.js}"></script>
    <script th:src="@{/portal/js/scripts.js}"></script>

</body>

</html>
